* {
    padding: 0;
    margin: 0;
    border: 0;
}

@media (max-width: 900px){
    .nav-menu {
        flex-direction: column;
        font-weight: lighter;
        font-size: small;
    }
    header aside a{
        opacity: 0;
    }
    .telephone {
        background-image: url("../img/call.png");
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: top center;
    }
}

.backgroundImg {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url("../img/newBackgroundMain.jpg") no-repeat;
    background-size: 100% 27%;
}

html {
    height: 3000px;
    width: auto;


}
header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    text-align: justify;
    background-color: rgba(255,255,255,.1);
    color: #fff;
}

header .logo-img {
    left: 100px;
    Width: 80px;
    height: auto;
    background:  rgba(0, 0, 0, 0);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    list-style: none;
    margin: 0;

}

.nav-menu a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: x-large;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.telephone {
    top: 15px;
    right: 100px;
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
    white-space: nowrap;
}

.telephone a {
    text-decoration: none;
    color: white;
    list-style: none;
}

.telephone a:hover {
    text-decoration: underline;
}

main {
    height: 2500px;
}

.booking-form{
    display: inline-flex;
    color: black;
    width: 600px;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,.1);
}

.input{

}

.work-time{
    position: absolute;
    bottom: 120px;
    right: 30px;
    font-weight: bolder;
    font-size: x-large;
    color: white;
}

footer {
    display: flex;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #262626;
    color: #fff;
    border: 0;
    padding: 0;
    margin: 0;
}

footer .logo-img {
    left: 100px;
    Width: 80px;
    height: auto;
    background:  rgba(0, 0, 0, 0);

}

.contacts{
    position: absolute;
    padding: 10px;
    bottom: 20px;
    right: 400px;
}

.social-networks{
    position: absolute;
    padding: 10px;
    right: 200px;
    bottom: 0;
    font-weight: lighter;
    font-size: small;
    text-decoration: none;
}

.social-icons>li {
    display: inline-block;
    margin: 10px;
}

.social-icons a {
    position: relative;
    display: inline-block;
    transition: background-color .7s ease-in-out;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .5rem;
    left: 5em;
}

.social-icons a:hover {
    background-color: #e0e0e0;
}

.social-icons a:before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: .25rem;
    top: .25rem;
    background-size: 100% 100%;
}

.social-icons .social-icon-vk::before {
    background-image: url("../img/icon-vk.png");
}

.social-icons .social-icon-telegram::before {
    background-image: url("../img/icon-telegram.png");
}

.social-icons .social-icon-instagram::before {
    background-image: url("../img/icon-instagram.png");
}

.social-icons .social-icon-whatsup::before {
    background-image: url("../img/icon-whatsUp.png");
}
