
header {
    text-align: justify;
    padding: 1em;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,.1);
    color: #fff;

}


.backgroundImg {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) ), url("../img/backgroundMain.jpg") no-repeat;
    background-size: 100% ;
}




.logo-img {
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    Width: 100px;
    height: auto;
}

.nav-menu {
    position: absolute;
    top: 1.6em;
    padding: 0.2em;
    left: 200px;
}

.nav-menu ul {
    list-style: none;
    display: block;
    width: 800px;
    height: 30px;
    margin: 0 auto 30px;
    padding: 1em;
}

.nav-menu a {
    text-decoration: none;
    padding: 1em;
    color: black;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bolder;
    font-size: x-large;

}

.nav-menu li {
    display: inline-block;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.telephone {
    position: absolute;
    top: 15px;
    padding: 10px;
    right: 100px;
}

.telephone i {
    display: block;
    font-weight: bolder;
    font-size: x-large;
    padding: 1px;
    color: white;
}

.telephone a:hover {
    background-color: black;
}

.telephone a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    list-style: none;
}

main {
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;

    background-color: #262626;
    color: #fff;
}

.social-networks{
    position: absolute;
    padding: 10px;
    bottom: 20px;
    right: 200px;
}

.contacts{
    position: absolute;
    padding: 10px;
    bottom: 20px;
    right: 400px;
}
/*
.logo {
    border-image-width: 10px;
}

.nav {
    margin-left: 0px;
    padding-left: 0px;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    width: 7em;
    padding:10px;
    background-color: #f4f4f4;
    border-top: 1px dashed #333;
    border-right: 1px dashed #333;
    border-left: 5px solid #333;
    text-decoration: none;
    color: #333;
}

.header-navigation {
    color: black;
}

.header-navigation:hover {
    background-color: blue;
    text-decoration: underline;
    cursor: pointer; url()
}*/
